@import "./vars.scss";
@import "./reset.scss";
@import "./page.scss";
@import "./header/header.scss";
@import "./header/nav.scss";
@import "./header/menu.scss";
@import "./header/section.scss";
@import "./header/items.scss";
@import "./header/languages.scss";
@import "./main-menu/main-menu.scss";
@import "./main-menu/switch-buttons.scss";
@import "./main-menu/cards.scss";
@import "./main-menu/card.scss";
@import "./main-menu/price.scss";
@import "./main-menu/price-input.scss";
@import "./main-menu/ribbon-box.scss";
@import "./product-menu/product-menu.scss";
@import "./product-menu/icons.scss";
@import "./product-menu/checkbox.scss";
@import "./footer/footer.scss";
@import "./footer/nav-menu.scss";
@import "./footer/info.scss";
@import "./footer/menu-section.scss";
@import "./footer/messengers.scss";
@import "./footer/bottom-block.scss";
@import "./footer/footer-languages.scss";
@import "./footer/footer-section.scss";
@import "./header/burger.scss";

html {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: #081d31;
  font-weight: 400;
}

body {
  min-height: 100vh;
  padding: 0;
  background: #f9fcfe;
}

ul,
li {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}
