.page {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(131, 144, 193, 0.25);
    padding: $large-page-padding;
  }

  &__main-menu {
    text-align: center;
    padding: $large-page-padding;
    margin-top: 56px;
  }

  &__product-menu {
    text-align: center;
    padding: $large-page-padding;
    margin-top: 73px;
  }

  &__footer {
    height: 520px;
    padding: $large-page-padding;
    margin-top: 65px;
    background: #081d31;
    color: #fff;
  }
}

@media screen and (max-width: 1199px) {
  .page {
    &__header {
      padding: $main-page-padding;
    }

    &__main-menu {
      padding: $main-page-padding;
    }

    &__footer {
      padding: $main-page-padding;
    }
  }
}
