$nav-menu-width: 75px;
$large-page-padding: 0 calc(50% - 555px);
$main-page-padding: 0 40px;

$main-hover-color: #015585;
$default-color: #006fae;
$transition-color: color 0.2s ease;
$border-color: 2px solid $default-color;

$box-shadow-hover: box-shadow 0.2s ease;
