.icons {
  &__icon {
    display: block;
    margin: 0 32.5px 32px;
    width: 36px;
    height: 36px;
    cursor: pointer;
    transition: transform 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon--1 {
    background: url("../../src/images/icons/lifebuoy.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--2 {
    background: url("../../src/images/icons/skate.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--3 {
    background: url("../../src/images/icons/snow.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--4 {
    background: url("../../src/images/icons/umbrella.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--5 {
    background: url("../../src/images/icons/spray.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--6 {
    background: url("../../src/images/icons/file.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--7 {
    background: url("../../src/images/icons/toilet-paper.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--8 {
    background: url("../../src/images/icons/donut.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--9 {
    background: url("../../src/images/icons/pencils.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--10 {
    background: url("../../src/images/icons/loop.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--11 {
    background: url("../../src/images/icons/clipboard.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--12 {
    background: url("../../src/images/icons/car.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--13 {
    background: url("../../src/images/icons/truck.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--14 {
    background: url("../../src/images/icons/statistics.svg") no-repeat center;
    background-size: cover;
  }
}

@media screen and (max-width: 685px) {
  .icons {
    margin: 40px 50px;
    &__icon {
      width: 25px;
      height: 25px;
    }
  }
}
