.product-menu {
  &__title {
    margin-top: 73px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 50px;
    color: #081d31;
  }

  &__description {
    margin-top: 4px;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: #2e3c49;
  }

  &__icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 40px 140px 0;
    padding: 0 calc(50% - 555px) 0;
  }

  &__checkboxes {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 26px;
  }
}

@media screen and (min-width: 320px) {
  .product-menu {
    &__title {
      padding: 0 20px;
    }

    &__description {
      padding: 0 20px;
    }
  }
}

@media screen and (max-width: 1400px) {
  .product-menu {
    &__checkboxes {
      justify-content: center;
      margin: 26px 100px;
    }
  }
}

@media screen and (max-width: 530px) {
  .product-menu {
    &__checkboxes {
      justify-content: center;
      margin: 26px 30px;
    }

    &__title {
      font-size: 20px;
    }

    &__description {
      font-size: 14px;
    }
  }
}
