.bottom-block {
  &__footer-section {
    display: flex;
  }

  &__license-link {
    margin-right: 90px;
    transition: $transition-color;

    &:hover {
      color: $default-color;
    }
  }
}

@media screen and (max-width: 900px) {
  .bottom-block {
    padding-bottom: 40px;
  }
}

@media screen and (max-width: 650px) {
  .bottom-block {
    font-size: 10px;

    &__license-link {
      margin-right: 0;
    }
  }
}
