.footer {
  &__nav-menu {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 117px 17px 39px 0;
    border-bottom: 1px solid #f2f6fa;
  }

  &__bottom-block {
    display: flex;
    justify-content: space-between;
    margin-top: 36px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: capitalize;
  }
}

@media screen and (max-width: 900px) {
  .footer {
    height: 100%;
    &__nav-menu {
      flex-direction: column;
      text-align: center;
    }
  }
}
