.messengers {
  &__title {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-transform: uppercase;
  }

  &__icons {
    display: flex;
    margin-top: 15px;
  }

  &__icon {
    margin-right: 25px;
    width: 24px;
    height: 24px;
    cursor: pointer;
    transition: all 0.2s ease;

    &:hover {
      transform: scale(1.1);
    }
  }

  &__icon--1 {
    background: url("../../src/images/fb.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--2 {
    background: url("../../src/images/insta.svg") no-repeat center;
    background-size: cover;
  }

  &__icon--3 {
    background: url("../../src/images/youtube.svg") no-repeat center;
    background-position: center;
  }
}

@media screen and (max-width: 900px) {
  .messengers {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    &__icon {
      margin-left: 10px;
      margin-right: 0;
    }
  }
}
