.nav-menu {
  &__info {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 900px) {
  .nav-menu {
    &__info {
      align-items: flex-start;
    }

    &__menu-section {
      margin-bottom: 20px;
    }
  }
}
