.header {
  font-family: inherit;
  font-size: 12px;
  background-color: #fff;

  &__logo {
    width: 58px;
    height: 27px;
    color: $default-color;
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;
    transition: $transition-color;

    &:hover {
      color: $main-hover-color;
    }
  }

  &__section {
    display: flex;
  }
}
