.items {
  box-shadow: 0 0 10px rgba(131, 144, 193, 0.25);

  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: $nav-menu-width;
    height: 30px;
    border-bottom: 1px solid $main-hover-color;
    background-color: #fff;
    cursor: pointer;

    &:first-child {
      border-top: 1px solid $main-hover-color;
    }

    &:hover {
      color: #fff;
      background-color: $main-hover-color;
      border-color: $main-hover-color;
    }
  }
}
