.menu {
  position: relative;
  width: $nav-menu-width;
  padding: 28px 0;
  transition: $transition-color, $box-shadow-hover;
  cursor: pointer;
  
  &:hover {
    color: $main-hover-color;
    box-shadow: 0 0 10px rgba(131, 144, 193, 0.25);
  }

  &__items {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    top: 72.5px;
    transition: opacity 0.3s ease;
  }

  &__link {
    position: relative;
    padding-right: 12px;

    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 25%;
      left: 50px;
      width: 6px;
      height: 6px;
      border-right: 0.8px solid #000;
      border-bottom: 0.8px solid #000;
      transform: rotate(45deg);
      transition: all 0.2s ease;
    }
  }
}

.menu:hover .menu__items {
  visibility: visible;
  opacity: 1;
}

.menu:focus .menu__items {
  display: block;
}

.menu:hover .menu__link:after {
  border-color: $main-hover-color;
}
