.cards {
  margin-top: 61px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

@media screen and (max-width: 1199px) {
  .cards {
    justify-content: center;
  }

  &:nth-child(2) {
    margin-right: 0;
  }
}
