.price-input {
  cursor: pointer;

  &__text-title {
    margin-top: 11px;
    padding: 0 15px;
    font-size: 15px;
    line-height: 20px;
  }

  &__text-price {
    margin-top: 3px;
    font-size: 12px;
    line-height: 16px;
  }

  &__radio {
    cursor: pointer;
  }
}
